@import 'color-fonts';
@import 'githubWidget';
@import 'weatherWidget';
@import 'freelancingWidget';

// General---------------------------------------------------------------------------------

body{
	background-image: url("../assets/images/bg-pattern.png");
	background-repeat: repeat;
	font-family: $gotham;
	font-weight: 300;
}

header{
	background-color:lighten($bgGray,2%);
}
.btn{
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.break{
	clear: both;
}

#main-container{
	padding-top: 2em;
}

// Modal---------------------------------------------------------------------------------

.modal-footer {
	padding: 15px;
	text-align: right;
	border: none;
	margin-top: 55px;
}

// Select Style
.SelectStyle {
	width: 220px;
	position: relative;
}

select {
	width: 100%;
	background: #F3F3F3;
	color: #585757;
	padding: 5px;
	font-size: 13px;
	line-height: 100%;
	border: 1px solid #C1C1C1;
	border-radius: 0;
	height: 30px;
	-webkit-appearance: none;
}

option {
	padding: 10px;
}

.SelectStyle:after {
	width: 30px;
	height: 30px;
	display: block;
	content: '';
	position: absolute;
	top: 0;right: 0;
	pointer-events: none;
	border: 1px solid #C1C1C1;
	background:#ebebeb;
	background-image: url('http://www.ideup.com/sites/all/themes/ideup/img/bullet--arrow--down.gif');
	background-image: url('http://www.ideup.com/sites/all/themes/ideup/img/bullet--arrow--down.gif'), -moz-linear-gradient(top,#dfdfdf 0%,#f6f6f6 100%);
	background-image: url('http://www.ideup.com/sites/all/themes/ideup/img/bullet--arrow--down.gif'), -webkit-gradient(linear,left top,left bottom,color-stop(0%,#dfdfdf),color-stop(100%,#f6f6f6));
	background-image: url('http://www.ideup.com/sites/all/themes/ideup/img/bullet--arrow--down.gif'), -webkit-linear-gradient(top,#dfdfdf 0%,#f6f6f6 100%);
	background-image: url('http://www.ideup.com/sites/all/themes/ideup/img/bullet--arrow--down.gif'), -o-linear-gradient(top,#dfdfdf 0%,#f6f6f6 100%);
	background-image: url('http://www.ideup.com/sites/all/themes/ideup/img/bullet--arrow--down.gif'), -ms-linear-gradient(top,#dfdfdf 0%,#f6f6f6 100%);
	background-image: url('http://www.ideup.com/sites/all/themes/ideup/img/bullet--arrow--down.gif'), linear-gradient(top,#dfdfdf 0%,#f6f6f6 100%);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

// Dashboard---------------------------------------------------------------------------------
.widget{
	margin: 0;
	color: #FFF;
}

.widget-search-form{
	line-height: 2em;
}

.widget-search{
	border: none;
	max-width:auto;
	border-bottom: 1px solid #FFFFFF;
	color: #FFFFFF;
	background: none;
	&::-webkit-input-placeholder { /* WebKit browsers */
		color:    #FFF;
	}
	&::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color:    #FFF;
		opacity:  1;
	}
	&::-ms-input-placeholder { /* Internet Explorer 10+ */
		color:    #FFF;
	}
	&:focus{
		outline-width: 0;
	}
}




input[placeholder] {
	color: white !important;
}

input::-webkit-input-placeholder {
	@extend .input-placeholder;
}
input::-moz-placeholder {
	@extend .input-placeholder;
}
input:-moz-placeholder {	
	@extend .input-placeholder;
}
input:-ms-input-placeholder { 
	@extend .input-placeholder;
}

//Widget
.modal-header{
	background-color:lighten($bgGray,2%);
	color:#FFF;
}

.widgetContent{
	padding: 5px;
	height: auto;
}

.widgetInner{
	padding: 10px 15px;
}

ul{
	list-style:none;
	color: $bgGray;
	display: block;

}
ul li{
	display: block;
}
ul li a{
	float: left;
	padding: 1%;
}


// Close widget---------------------------------------------------------------------------------
input[type=checkbox] {
	display:none;
}
input[type=checkbox] + label:hover{
	color: darken($bgRed,20%);
}
input[type=checkbox] + label
{
	color: #FFF;
	height: 16px;
	width: 16px;
	display:inline-block;
	padding: 0 0 0 0px;
}
.btn-flat{
	padding: 1% 2%;
	margin: 1%;
	background: $bgGreen;
	box-shadow: 0px 4px 0px 0px darken($bgGreen, 20%);
	color: #FFF;
	font-size: 1.3em;
	border:0px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	outline: 0;
}
.addButton{
	margin-top: 15%;
}

.item{
	padding:0px;
}




