
<header>
  <a class="btn btn-flat btn-lg" data-toggle="modal" href='#modal-id' id="newWidget">New Widget</a>
</header>
<div class="container" id="main-container">
  <div class="modal fade" id="modal-id">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Configure Widget</h4>
        </div>
        <div class="modal-body">
          <div class="col-xs-6">
            <form name="widgetForm" >
              <h4>Type</h4>
              <div class="SelectStyle">
                <select name="type" ng-model="widget.type" required>
                  <option value = "github">Github</option>
                  <option value = "weather">Weather</option>
                  <option value = "twitter">Twitter</option>
                  <option value = "freelancing" id="freelancingType">Freelancing</option>
                </select>
              </div>
              <h4>Color</h4>
              <div class="SelectStyle">
                <select name="color" ng-model="widget.color" required>
                  <option value = "red" id = "redColor">Red</option>
                  <option value = "blue">Blue</option>
                  <option value = "yellow">Yellow</option>
                  <option value = "grey">Gray</option>
                  <option value = "green">Green</option>
                </select>
              </div>
              <h4>Size</h4>
              <div class="SelectStyle">
                <select name="size" ng-model="widget.size" required>
                  <option value = "3" id = "threeSize">Small</option>
                  <option value = "6">Medium</option>
                  <option value = "12">Large</option>
                </select>
              </div>
              <!--  <button type="submit" class="btn btn-default">button</button> -->
            </form>
          </div>
          <div class="col-xs-6">
            <h4>Your configuration</h4>
            <div class="{{widget.color}} col-xs-{{widget.size}}"></div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-flat addButton" ng-click="addWidget(widget)" data-dismiss="modal" ng-disabled="widgetForm.type.$error.required || widgetForm.color.$error.required || widgetForm.size.$error.required" id="addWidget">Add Widget</button>

        </div>
      </div>
    </div>
  </div>

  <div class="packery-container" >
    <div ng-repeat="widget in widgets track by $index" class="item col-xs-{{widget.size}}" packery-dir>
      <github-directive ng-show="widget.type == 'github'" ></github-directive>
      <weather-directive ng-show="widget.type == 'weather'" class="weather-widget-{{widget.size}}"></weather-directive>
      <twitter-directive ng-show="widget.type == 'twitter'"></twitter-directive>
      <freelancing-directive class="freelancingWidget" ng-show="widget.type == 'freelancing'"></freelancing-directive>
    </div>
  </div>


  
</div>






