<div ng-controller="githubCtrl">
	<div  ng-hide="checked">
		<div class="widget" ng-show="widgetAdded">
			<div class="text-center col-xs-12 widgetContent">
				<div class="col-xs-12 widgetInner {{widget.color}}">
					<div class="pull-left">
						<input type='checkbox' ng-click="removeWidget(widget)" name='close' value='valuable' id="close" />
						<label for="close"><span class="glyphicon glyphicon-trash"></span></label>
					</div>
					<div class="pull-right">
						<form ng-submit="search(username)" class="widget-search-form">
							<span class="glyphicon glyphicon-search"></span>
							<input type="text" ng-model="username" class="widget-search" placeholder="Username...">
						</form>
					</div>
					<div ng-show="userNotFound"><p>User not found</p></div>
					<div class="col-xs-12" ng-show="loaded">
						
						<div class="col-xs-12 text-center">
							<img class="img-circle" ng-src={{user.avatar_url}}>
							<h2 class="custom-text">{{user.name}} </h2>
							<h4 class="custom-text">{{user.email}}</h4>
							<ul class="profile">
								<li class="data-git repos">Repos: {{user.public_repos}}</li>
								<li class="data-git following">Following: {{user.following}}</li> 
								<li class="data-git followers">Followers: {{user.followers}}</li>
							</ul>
							<button class="show-button" ng-click="showRepos = !showRepos"><i class="glyphicon glyphicon-menu-down"></i></button>
						</div>
						<div ng-show="showRepos">
							<div class="col-xs-12 text-center">
								<div ng-show="reposFound">
									<h3 class="custom-text">Repos</h3>
									<ul ng-repeat="repo in repos">
										<li><a href="{{repo.html_url}}" target="_blank" class="btn btn-success"> {{repo.name}} </a></li>
									</ul>
								</div>
							</div>
							<div class="break"></div>
							<div ng-show="followersFound">
								<h3 class="custom-text">Followers</h3>
								<ul>
									<li ng-repeat="follower in followers">
										<img ng-src={{follower.avatar_url}} class="img-circle min">
									</li>
								</ul>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>