<div  ng-hide="checked">
	<div class="widget" ng-show="widgetAdded">
		<div class="text-center col-xs-{{widget.size}} {{widget.color}} widgetContent">
			<div class="col-xs-12">
				<div class="pull-left">
					<input type='checkbox' ng-click="removeWidget($index)" name='close' value='valuable' id="close" />
					<label for="close"><span class="glyphicon glyphicon-trash"></span></label>
				</div>

				<div class="col-xs-12">
					<p>Content text widget</p>
				</div>
			</div>
		</div>
	</div>
</div>