<div  ng-hide="checked">
	<div class="widget" ng-show="widgetAdded">
		<div class="text-center col-xs-{{widget.size}} {{widget.color}} widgetContent">
			<div class="col-xs-12">   
				<div class="pull-left">
					<input type='checkbox' ng-model="checked" name='close' value='valuable' id="close" />
					<label for="close"><span class="glyphicon glyphicon-trash"></span></label>
				</div>

				<form ng-submit="search(username)">
					<div class="input-group col-xs-6 pull-right">
						<div class="input-group-addon"><span class="glyphicon glyphicon-search"></div>
						<input type="text" ng-model="username" class="form-control">
					</div>
				</form>
				
			</div>
			<hr>
			<div class="col-xs-12" ng-show="loaded">
				<ul class="profile">
					<li><img class="img-circle" ng-src={{user.avatar_url}}></li>
					<li>{{user.name}} | {{user.email}}</li>
					<li>Repos: {{user.public_repos}}</li>
					<li>Following: {{user.following}}</li>
					<li>Followers: {{user.followers}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>